
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@300&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


/* one-one chat */
.current-chat-header{
    height:50px;
    background-color: brown;
}

.chat-person-name {
    font-size: 25px;
    font-weight: bold;
    color:yellow;
}

.go-back-btn{
    display: inline-block;
}

@media (min-width: 768px) { 
    .go-back-btn{
        display: inline-block;
    }
 }