
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@300&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


.row{
    --bs-gutter-x: 0rem !important;
}

/* one-one chat */
.current-chat-header{
    height:50px;
    background-color: #009688;
}

.chat-person-name {
    font-size: 25px;
    font-weight: bold;
    color:#152238;
}

.go-back-btn{
    display: inline-block;
}

@media (min-width: 768px) { 
    .go-back-btn{
        display: inline-block;
    }
 }

 /* .chat-display{
    height:calc(100vh - 10vh - 70px);
    background-color: darkgoldenrod;
    position: relative;
 } */

 /* .chat-input{
    position:absolute;
    bottom: 5px;
    margin: 15px;
    background-color: darkgreen;
    width:96%;
 }

 .chat-input input {
    width:100%;
 } */