
.profile-image-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-area{
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    width:150px;
    height:150px;
}

.my-image {
    width:100%;
    height:100%;
    object-fit: cover;
}

.remove-badge{
    cursor: pointer;
    background-color: green;
}

.remove-badge:hover{
    background-color: red;
}

/* Profile modal styling */

.user-image{
    height:150px;
    width:150px;
    border-radius: 50%;
    background-color: blue;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-image img{
    width:100%;
    height:100%;
    object-fit: cover;
}

.edit-buttons-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

